.history {
    margin-top: 147px;
}

.history__title {
    width: 844px;
    display: block;
    margin: 0 auto;
}

.history__wrapper {
    margin-top: 115px;
}

.history__text {
    width: 750px;
    margin-left: 85px;
}