<section class="history">
    <div class="container">
        <h2 class="history__title --H2_Lato">
            Небольшая предыстория о том, почему нам можно доверять
        </h2>
        <div class="history__wrapper flex --just-center --align-center">
            <img src="../img/Wavy_Tech-11_Single-01.svg" alt="image" class="history__image">
            <p class="history__text --Text_Lato">
                Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы
                («Европейский», «Метрополис», «Мега» и др.), а также свой интернет-магазин. Мы накопили большой опыт в
                продвижении своих товаров за счет многочисленных запусков разных рекламных каналов и работы с блогерами.
            </p>
        </div>
        <div class="history__wrapper flex --just-center --align-center">
            <p class="history__text --Text_Lato">
                Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы
                («Европейский», «Метрополис», «Мега» и др.), а также свой интернет-магазин. Мы накопили большой опыт в
                продвижении своих товаров за счет многочисленных запусков разных рекламных каналов и работы с блогерами.
            </p>
            <img src="../img/Wavy_Bus-22_Single-12.svg" alt="image" class="history__image">
            
        </div>
    </div>
</section>