<section class="market">
    <div class="container">
        <div class="links flex">
            <a href="#" class="link__prew">Главная -</a>
            <a href="#" class="link__now">Обучение</a>
        </div>
        <div class="market__wrapper flex">
            <div class="market__block">
                <h1 class="market__title --H1_Lato">
                    <span class="market__title-text --color-pink">Обучающие курсы</span>
                    для поставщиков на маркетплейсы
                </h1>
                <p class="market__price ">
                    от <span class="market__price-number --color-pink">19 900</span> P
                </p>
                <p class="market__text --Text_Lato">
                    Обучающие курсы по работе и
                    продвижению на маркетплейсах от
                    практикующих селлеров
                </p>
                <p class="market__text --Text_Lato">
                    Добро пожаловать в Академию. Это место для
                    эффективного обучения, где мы рассказываем,
                    как работают
                    маркетплейсы и никогда не вдаемся
                    в теорию, которая не понадобится на практике.

                </p>
                <p class="market__text --Text_Lato">
                    Нащи уроки помогут понять логику работы площадок
                    и взять
                    управление продажами в
                    свои руки, а не
                    действовать наугад. Становись экспертом
                    в работе с
                    маркетплейсами и увеличивай свою прибыль.
                </p>
            </div>
            <div class="market__image">
                <img src="img/Superman.svg" alt="super man" class="market__image-super">
            </div>
        </div>
    </div>
</section>