<section class="step">
    <div class="container">
        <h2 class="step__title --H2_Lato">
            Обучение по продажам на маркетплейсах от <span class="step__title-mod">stat4market</span>
        </h2>
        <p class="step__text --Text_Lato">
            «Увеличение реальной прибыли, конкретика и ключевые инструменты,
            которые дают результат» — на этом тезисе созданы наши курсы
        </p>
        <div class="step__cards cards">
            <div class="cards__block">
                <img src="img/target.svg" alt="icon" class="cards__block-image">
                <h5 class="cards__block-title --H5_Lato">
                    Наше обучение построено очень лаконично и просто
                </h5>
                <p class="cards__block-text">
                    Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках
                    только конкретику, без лишней теории и “воды”.
                </p>
            </div>
            <div class="cards__block">
                <img src="img/site.svg" alt="icon" class="cards__block-image">
                <h5 class="cards__block-title --H5_Lato">
                    Ко всем урокам есть дополнительные материалы
                </h5>
                <p class="cards__block-text">
                   Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.
                </p>
            </div>
            <div class="cards__block">
                <img src="img/friends.svg" alt="icon" class="cards__block-image">
                <h5 class="cards__block-title --H5_Lato">
                    Наше обучение — практико-ориентированное
                </h5>
                <p class="cards__block-text">
                    Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить
                    полученные знания на практике.
                </p>
            </div>
            <div class="cards__block">
                <img src="img/icons.svg" alt="icon" class="cards__block-image">
                <h5 class="cards__block-title --H5_Lato">
                    Создатели нашей Академии
                </h5>
                <p class="cards__block-text">
                    Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а
                    также профессиональные лекторы и методологи.
                </p>
            </div>
        </div>
    </div>
</section>