<header class="header ">
    <div class="container flex --align-center --just-space">
        <a href="#" class="logo__link">
            <div class="logo__content flex">
                 <img src="img/stat4market.svg" alt="state4market"></a>
                 <p class="header__text">
                     Надежный сервис<br>
                     аналитики для поставщиков
                     на маркетплейсы
                 </p>
        </div>
           
        <nav class="menu">
            <ul class="menu__list flex">
                <li class="menu__list-item --arow-down" >
                    <a href="#" class="menu__list-link">Аналитика</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">Обучение</a>
                </li>
            </ul>
        </nav>
        <a href="tel:84994503141" class="phone"> 8 (499) 450-31-41</a>
        <button class="entrance">
            <img src="img/entrance.svg" alt="entrance" class="entrance__icon">Войти
        </button>
    </div>
</header>
